label {
  margin-right: 1ex;
}

table {
  border-collapse: collapse;
}

.fretboards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2ex;
}

.fretboard {
  margin-top: 1ex;
  padding-left: 2ex;
}

input[type=number] {
  width: 3em;
}

td {
  padding: 0 5px;
}

tbody td {
  cursor: pointer;
}

tbody td:nth-child(4n+1) {
  border-right: 1px solid black;
}

tfoot {
  text-align: center;
  font-size: 50%;
}

.active {
  text-align: center;
}

/* https://en.wikipedia.org/wiki/File:Scriabin-Circle.svg */
.c0  { background-color: #FF0000; color: white; }
.c7  { background-color: #FF7F00; color: white; }
.c2  { background-color: #FFFF00; }
.c9  { background-color: #33CC33; color: white; }
.c4  { background-color: #C3F2FF; }
.c11 { background-color: #8EC9FF; }
.c6  { background-color: #7F8BFD; color: white; }
.c1  { background-color: #9000FF; color: white; }
.c8  { background-color: #BB75FC; }
.c3  { background-color: #B7468B; color: white; }
.c10 { background-color: #A9677C; color: white; }
.c5  { background-color: #AB0034; color: white; }
